@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base styles */

.container {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-page-header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 2rem;
}
.header-button{
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem; /* Увеличенный размер шрифта */
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 1rem; /* Меньше на мобильных устройствах */
        padding: 0.5rem 1rem;
  }
}
h2{
    border-bottom: none;
}
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.pastelinkarea {
    width: 100%;
}
.ButtonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

input{
    max-width: 500px;
    width: 100%;
    margin: 0 auto 1rem;
    padding: 0.75rem;
    font-size: 1.25rem; /* Увеличенный размер шрифта */

    @media (max-width: 768px) {
        font-size: 1rem; /* Меньше на мобильных устройствах */
    }
}

h1{
    font-size: 3rem; /* Увеличенный размер шрифта */
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        font-size: 2.5rem; /* Меньше на мобильных устройствах */
    }

    @media (max-width: 480px) {
        font-size: 2rem; /* Еще меньше на очень маленьких экранах */
    }
}
h2{
    border-bottom: none;
}
button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem; /* Увеличенный размер шрифта */
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 1rem; /* Меньше на мобильных устройствах */
        padding: 0.5rem 1rem;
  }
}






.auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный затемнённый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Поверх всех остальных элементов */
}

.auth-overlay:hover {
    cursor: pointer;
}

.auth-container {
    background-color: #131212;
    min-width: 40%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.auth-container:hover {
    cursor: default;
}

.auth-container h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1vw;
}

.form-group label {
    font-size: 1rem;
    color: #fff;
}




.auth-button {
    width: 100%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}



.error-message {
    color: red;
    font-size: 14px;
}

.toggle-link {
    margin-top: 2rem ;
    font-size: 14px;
    color: #e100ff;
    cursor: pointer;

    text-align: center;
}

.toggle-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Tablet styles (min-width: 768px) */
@media (min-width: 768px) {
    .auth-container {
        width: 400px;
        padding: 30px;
    }

    .auth-container h2 {
        font-size: 28px;
    }

    .auth-button {
        height: 50px;
        font-size: 18px;
    }
}

/* Desktop styles (min-width: 1024px) */
@media (min-width: 1024px) {
    .auth-container {
        width: 500px;
    }

    .auth-container h2 {
        font-size: 32px;
    }

    .auth-button {
        height: 55px;
        font-size: 20px;
    }
}


