@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Базовые стили */
:root {
    --font-family: 'Montserrat', sans-serif;
    --font-weight: 800;
    --primary-color: #00D9FF;
    --hover-color: #04b0ce;
    --background-color: #2D2D2D;
    --text-color: #fff;
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.header {
    margin: 10% 0;
    padding: 0 10%;
    display: flex;
    justify-content: flex-end;
    gap: 11px;
}

.headerbutton, #readmdbutton, #uploadmdbutton {
    border: none;
    border-radius: 15px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: inherit;
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: transform 0.5s ease, background-color 0.3s ease;
    cursor: pointer;
}

.headerbutton {
    height: 40px;
    padding: 10px;
    margin-right: 10px;
}

#readmdbutton, #uploadmdbutton {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    box-shadow: var(--shadow);
}

.container {
    padding: 10%;
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.container p {
    color: var(--text-color);
    margin: 0;
}

.footer {
    color: var(--text-color);
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 20px;
}

.linkblock {
    background-color: #848484;
    width: 300px;
    height: 150px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

#repo-link {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: inherit;
    width: 252px;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
}

input:focus {
    outline: none; /* Убирает границу при фокусе */
}
button:hover, #readmdbutton:hover, #uploadmdbutton:hover {
    background-color: var(--hover-color);
}

button:active, #readmdbutton:active, #uploadmdbutton:active {
    transform: scale(1.1);
}

/* Стили для планшетов (min-width: 768px) */
@media (min-width: 768px) {
    html, body {
        font-size: 20px;
    }

    .header {
        gap: 13px;
    }

    .headerbutton {
        height: 55px;
        padding: 20px;
    }

    .container {
        gap: 21px;
    }

    .linkblock {
        width: 400px;
        height: 200px;
    }

    #repo-link {
        width: 340px;
        height: 68px;
    }

    #readmdbutton, #uploadmdbutton {
        width: 200px;
        height: 55px;
    }
}

/* Стили для десктопов (min-width: 1024px) */
@media (min-width: 1024px) {
    .header {
        margin: 5% 0;
    }

    .container {
        padding: 1%;
        margin-bottom: 5%;
    }

    .linkblock {
        width: 800px;
    }

    #repo-link {
        width: 700px;
    }

    #readmdbutton, #uploadmdbutton {
        width: 400px;
    }
}