.projects-header {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.file-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
}

.link-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.file-actions input{
    margin: 0 1rem 0 0;
}

.file-actions button {
    margin: 0 1vw 0 0;
}

.profile-link {
    cursor: pointer;
    transition: transform 0.3s ease; /* Переход для тени */
    width: 5.5rem;
    height: 5.5rem;
}

.profile-link:hover .circle-element {
    filter: url(#circle-shadow); /* Тень становится видимой */
    transform: scale(1.03); /* Лёгкое увеличение элемента */
}

.circle-element {
    filter: none; /* По умолчанию тени нет */
    transition: transform 0.3s ease; /* Плавный переход фильтра (тени) */
}


.projects-container {
    margin: 0 auto 3rem auto;
    width: 100%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    max-width: 1200px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.switch-content-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.switcher-button-container {
    display: flex;
    padding: 0 0.25rem;
}

.switcher-button-container.active {
    border-bottom: 2px solid #8D38FF;
}

.switch-button {
    background: none;
    text-align: center;
    padding: 0.5rem 1.5rem;
}

.switch-button:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transform: none;
}

.comments-list-container {
    padding: 0 1rem;
}

.comments-grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.comments-grid-header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 8fr 2fr;
    gap: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem 1rem 0 0;
}

.comments-grid-body {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
    border-radius: 0 0 1rem 1rem;
}

.comment-grid-row {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 8fr 2fr;
    gap: 1rem;
    padding: 12px 15px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.comment-grid-row:last-child {
    border-bottom: none;
}

.comment-cell {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comment-icon {
    width: 2rem;
    height: 2rem;
}

.file-link {
    color: #ba87fa;
    text-decoration: none;
}

.file-link:hover {
    text-decoration: underline;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    padding: 15px;
    background-color: #383838b3;;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    white-space: pre-wrap; /* Сохраняет пробелы и переносы */
    word-break: break-all; /* Принудительно переносит длинные слова */
}

.projects-file-icons {
    width: 10rem;
    margin-bottom: 1rem;

}

.projects-file-buttons {
    width: 6rem;
    margin-top: 1rem;
    text-align: center;
}

.project-card p {
    margin-top: auto;
}

.zero-content-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
}